{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'ask/main.css' %}">
    {% block title %}
        {% if title %}
        <title>{{ section.title }} - askRubayet</title>
        {% else %}
            <title>askRubayet</title>
        {% endif %}
    {% endblock %}

  </head>

  <body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md" style="background-color: #f9ecf2;">
        <!-- Navbar content -->
        <div class="container">
          <a class="navbar-brand mr-4" href="{% url 'ques_list' %}">askRubayet</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{% url 'ques_list' %}">Home</a>
              <a class="nav-item nav-link" href="{% url 'ask-about' %}">About</a>
            </div>
          </div>
        </div>
      </nav>
    </header>


    <main role="main" class="container mt-4 content-section">
      <h1 class="mt-4">Welcome to askRubayet</h1>
      <div class="row mt-4">

        <div class="col-md-9">
          {% block content %}{% endblock %}
        </div>

        <!-- Sidebar Starts -->
        <div class="col-md-3">
          <div class="content-section">
            <h3>Know more</h3>
            <p class='text-muted'>You can get additional information here.
              <ul class="list-group">
                <li class="list-group-item list-group-item-light">Latest Posts</li>
                <li class="list-group-item list-group-item-light">Announcements</li>
                <li class="list-group-item list-group-item-light">Calendars</li>
                <li class="list-group-item list-group-item-light">etc</li>
              </ul>
            </p>
          </div>
        </div>
        <!-- Sidebar ends -->



      </div>
    </main>

    <!-- <main role="main" class="container">
      <div class="container">


      </div>
    </main> -->

  </body>
</html>
