{% extends "ask/base.html" %}

{% block content %}

<div class="container">
  {% if not user.is_authenticated %}
     <h1 class="mt-1">Welcome to askRubayet</h1>
     <small class="container text-muted mt-4">
        <p>This is a customized QA site, entirely developed and maintained by
        <a href="https://www.mrubayet.com">Rubayet Mahmud</a>.
        </p>
        <p>
        Currently, it's in the test period, with some basic functionalities.
        So, there may be some bugs, but we are working on it.
        <br>
        In the meantime, you can read the QAs send by others and answered by Rubayet.
        Also, if you want to ask questions you can create an account from
        the register button on the right-top side. Then, login to ask a question.
        </p>
     </small>

 {% endif %}

  {% for que in ques %}
  <div class="jumbotron">
    <small>Asked by</small>
    <h5>{{ que.author }}</h5>
    <small class="text-muted"> on: {{ que.created_date }}</small>

    <h1 class="display-5"><a href="{% url 'ques_detail' pk=que.pk %}">{{ que.title }}</a></h1>
    <p >{{ que.optional_description }}</p>

    {% if que.published_date %}
      <small class="text-muted">Published on: {{ que.published_date }}</small>
    {% endif %}
    <hr class="my-4">
    {% if que.approved_answer %}
    <p class="display-5"><a href="{% url 'ques_detail' pk=que.pk %}">Answers: {{ que.approved_answer.count }}</a></p>

      {% for ans in que.answer.all %}
        {% if ans.approved_answer %}
          <div class="answer">
            <strong>{{ ans.author }}</strong> Says
            <small class="text-muted">on {{ans.created_date }} </small>
            <p class="lead">{{ ans.text }}</p>
          </div>
        {% endif %}
      {% endfor %}
    {% else %}
      <p>No Answers here yet.</p>
    {% endif %}

  </div>

  {% empty %}
  <div class="container">
    <h1 class="mt-1">Welcome {{ user.username }}!</h1>
    <p>No Question posted yet.</p>
    <p>  <a href="{% url 'ques_new' %}">Ask a Question now</a>
      or come back later.</p>

  </div>
  {% endfor %}

</div>

{% endblock content %}
