{% extends "ask/base.html" %}

{% block content %}

<div class="container">
  {% if not user.is_authenticated %}
     <h1 class="mt-1">Welcome to askRubayet</h1>
     <small class="container text-muted mt-4">
        <p>This is a customized QA site, entirely developed and maintained by
        <a href="https://www.mrubayet.com">Rubayet Mahmud</a>.
        </p>
        <p>
        Currently, it's in the test period, with some basic functionalities.
        So, there may be some bugs, but we are working on it.
        <br>
        In the meantime, you can read the QAs send by others and answered by Rubayet.
        Also, if you want to ask questions you can create an account from
        the register button on the right-top side. Then, login to ask a question.
        </p>
     </small>

 {% endif %}

  {% for question in questions %}
  <div class="jumbotron">
    <small>Asked by</small>
    <h5>{{ question.author }}</h5>
    <small class="text-muted"> on: {{ question.created_date }}</small>

    <h1 class="display-5"><a href="{% url 'question_detail' pk=question.pk %}">{{ question.title }}</a></h1>
    <p >{{ question.optional_description }}</p>

    {% if question.published_date %}
      <small class="text-muted">Published on: {{ question.published_date }}</small>
    {% endif %}
    <hr class="my-4">
    {% if question.approved_answer %}
    <p class="display-5"><a href="{% url 'question_detail' pk=question.pk %}">Answers: {{ question.approved_answer.count }}</a></p>

      {% for ans in question.answer.all %}
        {% if ans.approved_answer %}
          <div class="answer">
            <strong>{{ ans.author }}</strong> Says
            <small class="text-muted">on {{ans.created_date }} </small>
            <p class="lead">{{ ans.text }}</p>
          </div>
        {% endif %}
      {% endfor %}
    {% else %}
      <p>No Answers here yet.</p>
    {% endif %}

  </div>

  {% empty %}
  <div class="container">
    <h1 class="mt-1">Welcome {{ user.username }}!</h1>
    <p>No Question posted yet.</p>
    <p>  <a href="{% url 'question_new' %}">Ask a Question now</a>
      or come back later.</p>

  </div>
  {% endfor %}

</div>
<!-- paginator start -->
{% if is_paginated %}

  {% if page_obj.has_previous %}
    <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
  {% endif %}


  {% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}
      <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
      <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
    {% endif %}
  {% endfor %}

  {% if page_obj.has_next %}
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
  {% endif %}

{% endif %}

<p class="text-muted">Showing page {{ page_obj.number }} of total {{ page_obj.paginator.num_pages }} pages</p>
<p class="text-muted">Showing {{ page_obj.object_list.count }} of {{ page_obj.paginator.count }} approved questions </p>
<!-- paginator end -->


{% endblock content %}
