{% extends "ask/base.html" %}

{% block content %}

<div class="container">

  <h1 class="mb-3">Question by {{ view.kwargs.username }} </h1>
    {% for question in questions %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ question.author.profile.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{% url 'user_question_list' question.author.username %}">{{ question.author }}</a>
              <small class="text-muted">{{ question.created_date|date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'ques_detail' question.id %}">{{ question.title }}</a></h2>
            <p class="article-content">{{ question.optional_description }}</p>
              {% if question.published_date %}
                {% if question.approved_answer %}
                  <small class="display-5"><a href="{% url 'ques_detail' pk=question.pk %}">
                  {{ question.approved_answer.count }} Answers so far</a></small>
                {% else %}
                  <small class="text-muted">No answer yet</small>
                {% endif %}
              {% else %}
              <small class="text-muted">Question not published yet</small>
              {% endif %}

          </div>
        </article>
    {% empty %}
    <div class="container">

      <p>You have not asked any Question yet.</p>
      <p>  <a href="{% url 'ques_new' %}">Ask a Question now</a>
        to see here.</p>

        </div>
    {% endfor %}

</div>
{% endblock content %}
